# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.env.prod
.env.dev
.env.local
.venv
env/
venv/

# Streamlit
.streamlit/

# Cache directories
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# temp Data
db/

# Production data
data/elasticsearch_prod/

# Docker volumes
docker-volumes/
